__pycache__/*
out/*
tokyo-metro-subway-map.png
 __pypackages__/
.pdm.toml

.mypy_cache/*
transfers/__pycache__
transfers/out/*

marey/__pycache__
marey/app/__pycache__
marey/app/simple/__pycache__
marey/app/transfers/__pycache__
marey/lib/__pycache__
marey/app/transfers/out/routing