__pycache__/*
generated_csv/keihin_tohoku.csv
generated_csv/takasaki.csv
generated_csv/yamanote.csv
htmls/keihin_tohoku.html
htmls/keihin_tohoku/
htmls/takasaki.html
htmls/takasaki/
htmls/yamanote.html
htmls/yamanote/
plots/keihin_tohoku_delta.png
plots/keihin_tohoku_delta_scatter.png
plots/keihin_tohoku_normal.png
plots/takasaki_delta.png
plots/takasaki_delta_scatter.png
plots/takasaki_normal.png
plots/yamanote_delta.png
plots/yamanote_delta_scatter.png
plots/yamanote_normal.png
tokyo-metro-subway-map.png
urls/keihin_tohoku.txt
urls/takasaki.txt
urls/yamanote.txt
